:root {
    --Rich-black: #04080F;
    --Davys-gray: #4D5359;
    --Paynes-gray: #586F7C;
    --Nyanza: #F0FFCE;
    --Sage: #CCC9A1;
    --Dark-slate-gray: #384D48;
    --Onyx: #3F4045;

    --Feldgaru: #4E6766;
    --Myrtle-green: #508484;
    --Air-force-blue: #4B88A2;
    --Federal-blue: #090446;
    --Vanilla: #F8F4A6;

    --Eagle-lake: 'Eagle Lake', serif;
    --Garamond-font: 'EB Garamond', serif;
    --Merriweather-font: 'Merriweather', serif;
    --Noto-serif: 'Noto Serif', serif;
}

* {box-sizing: border-box;}


body {
    margin: 0;
    padding: 0;
    background-color: var(--Rich-black);
    /* height: 100vh; */
}
/* --------HEADER--------- */

#sectionTop-header {
    height: 60px;
    background-color: var(--Davys-gray);
    border-bottom: 2px solid var(--Air-force-blue);
    box-shadow: 0px 5px 5px 0px #000;
}


.header-h1 { 
    font-family: var(--Eagle-lake);
    color: whitesmoke;
}

.info-link {
    color: whitesmoke;
    font-size: 17px;
}

.info-link:hover {
    /* border-bottom: 1px solid var(--Nyanza); */
    color: violet;
    transition: 0.5s border 0.5s ease;
}


/* --------MAIN--------- */

#sectionTop-main {
    padding-bottom: 200px;
}

#sectionTop-main-home {
    padding: 100px;
}


.main-text {
    margin-top: 50px;
}

.main-h2 {
    color: white;
    font-family: var(--Noto-serif);
    font-size: 46px;
}

.mainH2 {
    color: lightslategray;
    font-size: 36px;
}

.demonte-text {
    color: whitesmoke;
}


.demonte-img {
    /* margin-top: 120px; */
    float: right;
    max-width: 350px;
    max-height: 500px;
    border-radius: 5px;
}



@media (min-width: 768px) {
    .demonte-img {
        margin-top: 120px;
    }

    
}



@media (max-width: 576px) {
    .know-text {
        text-align: center;
    }

    .know-list {
        text-align: center;
    }

.bi-cpu, .bi-cpu2 {
    margin-left: 24px;
}

    .demonte-text {
        /* text-align: center; */
        /* border: 1px solid red; */
        width: 300px;
    }

    .home-text {
        margin-right: 800px;
    }

    .info-nav {
        justify-content: center;
    }

    .anime-img {
        height: 500px;
        width: 300px;
    }
}



.anime-img {
    width: 500px;
    height: 500px;
}

.h2-box {
    position: relative;
    background-color: purple;
    height: 40px;
    width: 20px;
}

.about-h2 {
    font-size: 36px;
    color: lightslategray;
}

#sectionBottom-main {
    padding-top: 200px;
}

.cpu-parent {
    position: relative;
}

.bi-cpu {
    position: absolute;
    left: 20px;
    margin-top: 2px;
    color: white;
    /* bottom: 250px; */
}

.bi-cpu2 {
    position: absolute;
    left: 165px;
    margin-top: 2px;
    color: white;
}

.learn-item {
    color: lightslategray;
}

/* ----------CONTACT------------- */

.bi-github {
    color: whitesmoke;
}

.bi-linkedin {
    color: whitesmoke;
}

.point-div {
    position: relative;
}

.point-img {
    position: absolute;
    bottom: -230px;
    left: 300px;
    height: 100px;
    width: 100px;
}

.contact-h2 {
    color: whitesmoke;
    font-size: 60px;
    font-family: var(--Noto-serif);
}

.know-text {
    color: white;
}

.bi-filetype-html {
    color: white;
    margin-left: 10px;
}

.bi-filetype-css {
    color: white;
    margin-left: 20px;
}

.bi-bootstrap {
    color: white;
}

.email-text {
    color: white;
}

.bi-envelope-at-fill {
    color: white;
}

.know-item {
    color: lightslategray;
}

/* ---------Projects---------- */

.venedor-img {
    border-top: 9px solid var(--Onyx);
    border-right: 9px solid var(--Onyx);
    /* border-left: 9px solid var(--Onyx); */
    border-bottom: 9px solid var(--Onyx);
    border-radius: 5px;
    
}

.venedor-div {
    transition: 0.5s all ease-in-out;
}

.venedor-div:hover {
    transform: scale(1.1); 
}

.figma-div {
    position: relative;
    transition: 0.5s all ease-in-out;
}

.figma-div:hover {
    transform: scale(1.1); 
}

.figma-img {
    position: absolute;
    top: 210px;
    right: 50px;
}





/* --------PLANETS-------- */

.circle-container {
    position: relative;
}


.circle {
    position: absolute;
    left: 70px;
    top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    /* border-inline: 2px solid purple; */
    /* background-color: #0CB1C4; */
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.circle-container2 {
    position: relative;
}

.circle2 {
    position: absolute;
    left: 95px;
    bottom: -100px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    /* border-inline: 2px solid var(--Davys-gray); */
    /* background-color: black; */
    /* animation-name: orbit;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.moon {
    width: 65px;
    height: 65px;
}

.earth {
    width: 70px;
    height: 70px;
}

.moon { 
    /* width: 50px; 
    height: 50px;  */
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    animation: GFG 5s infinite linear; 
} 

@keyframes GFG { 
    0% { 
        transform: rotate(0deg)  
            translateX(100px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(-360deg)  
            translateX(100px) rotate(360deg); 
    } 
} 



.clear {
    clear: both;
}